{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if projects %}

<h2 class="container text-center">My Projects</h2>
<div class="container text-left">
<br>
  <div class="row">
    {% for project in projects %}

    <div class="col-sm-4">
      <a href="{% url 'project-detail' pk=project.pk %}"><img src="{{ project.picture.url}}" class="img-responsive" style="width:100%; height:250px;" alt="Image">
      <h4>{{ project.name}}</h4></a>
      <p>{{ project.short_description}}</p>
    </div>

    {% endfor %}

</div>
</div>


{% else %}
<h2 class="container text-center">You have no projects!</h2>
{% endif %}
{% endblock %}

