{% extends 'base.html' %}
{% load widget_tweaks %}
{% load custom_filters %}
{% load static %}
{% block content %}

    <div class="container mt-4">
        <h1 class="display-5">Profile details</h1>
        <hr>

        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" class="avatar img-circle" alt="Profile Picture"
                             width="150" height="150">
                    {% else %}
                        <img src="{% static 'images/portrait_placeholder.png' %}" class="avatar img-circle"
                             alt="Default Profile Picture" width="150" height="150">
                    {% endif %}

                    <h5>{{ user.username }}</h5>
                    <p class="text-muted mb-4">Account Level: <strong>{{ user.account_level }}</strong></p>
                    <p class="text-muted mb-4">Total amount donated: <strong>{{ user.amount_donated }}</strong></p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{% url "profile-edit" user.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url "profile-delete" user.pk %}" class="btn btn-outline-primary ms-1">Delete</a>
                    </div>

                </div>
            </div>

            <!-- view column -->
            <div class="col-md-9 personal-info">
                <h3>Personal information</h3>
                <p class="text-muted mb-4" style="margin-bottom: 50px;">{{ user.account_level.reward }}</p>

                <div class="col">
                    <div class="card mb-4">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">First Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.first_name }}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Last Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.last_name }}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}
