{% extends 'base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block content %}

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <div class="custom_box rounded">

                    <h2 style="margin-bottom: 50px;">REGISTER</h2>
                    <form method="post" class="form">
                        {% csrf_token %}

                        <div class="form-group mb-3">

                            {% if form.username.errors %}
                                <div class="alert alert-danger mt-2" role="alert">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}

                            {{ form.username|placeholder:'Username'|add_class:"form-control" }}
                        </div>

                        <div class="form-group mb-3">

                            {% if form.email.errors %}
                                <div class="alert alert-danger mt-2" role="alert">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}

                            {{ form.email|placeholder:'Email'|add_class:"form-control" }}
                        </div>

                        <div class="form-group mb-3">
                            {% if form.errors %}
                                <div class="alert alert-danger mt-2" role="alert">
                                    {{ form.password1.errors }}
                                    {{ form.password2.errors }}
                                </div>
                            {% endif %}

                            {{ form.password1|placeholder:'Password'|add_class:"form-control" }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.password2|placeholder:'Repeat password'|add_class:"form-control" }}
                        </div>

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>

                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

{% endblock %}