{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
    <div class='login-register-div'>
    <div class='login-register-box'>
        <h1>FundsHub</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username.errors }}
            {{ form.username|placeholder:'Username' }}
            {{ form.email.errors }}
            {{ form.email|placeholder:'Email' }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
            {{ form.password1|placeholder:'Password' }}
            {{ form.password2|placeholder:'Repeat password' }}

            <button type="submit">Register</button>
        </form>
    </div>
    </div>

{% endblock %}