{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Funds Hub</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand home" href="{% url "home" %}">Funds Hub</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url "browse-projects" %}">Browse Projects</a></li>
        <li><a href="{% url "our-mission" %}">Our Mission</a></li>
          <li><a ID="get-started" href="{% url "get-started" %}"><b>Get Started</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<main>
    {% block content %}

    {% endblock %}
</main>

<footer class="container-fluid text-center">
  <p>Copyright © 2023 Funds Hub. All rights reserved.</p>
</footer>

</body>
</html>
